<form method="post" action="{{ path('nueva_delete', {'id': nueva.id}) }}" onsubmit="return confirm('Está seguro que quiere?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nueva.id) }}">
    <button class="btn">Eliminar</button>
</form>