{% extends 'base.html.twig' %}

{% block title %}Edit Nueva{% endblock %}

{% block body %}
    <h1>Actualizar Datos</h1>

    {{ include('nueva/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('nueva_index') }}">Atras</a>

    {{ include('nueva/_delete_form.html.twig') }}
{% endblock %}