{% extends 'base.html.twig' %}

{% block title %}Datos{% endblock %}

{% block body %}
    <h1>Datos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Telefono</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nueva in nuevas %}
            <tr>
                <td>{{ nueva.id }}</td>
                <td>{{ nueva.nombre }}</td>
                <td>{{ nueva.descripcion }}</td>
                <td>{{ nueva.telefono }}</td>
                <td>
                    <a href="{{ path('nueva_show', {'id': nueva.id}) }}">Mostrar</a>
                    <a href="{{ path('nueva_edit', {'id': nueva.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se registran datos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nueva_new') }}">Crear Nuevo</a>
{% endblock %}