{% extends 'base.html.twig' %}

{% block title %}Datos{% endblock %}

{% block body %}
    <h1>Registrar</h1>

    {{ include('nueva/_form.html.twig') }}

    <a href="{{ path('nueva_index') }}">Atras</a>
{% endblock %}