{% extends 'base.html.twig' %}

{% block title %}Datos{% endblock %}

{% block body %}
    <h1>Ver Datos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nueva.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ nueva.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ nueva.descripcion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ nueva.telefono }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nueva_index') }}">Atras</a>

    <a href="{{ path('nueva_edit', {'id': nueva.id}) }}">Editar</a>

    {{ include('nueva/_delete_form.html.twig') }}
{% endblock %}