{% extends 'base.html.twig' %}

{% block title %}Editar Equipo{% endblock %}

{% block body %}
    

    {{ include('equipo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equipo_index') }}" class="btn btn-success">Atrás</a>

    {{ include('equipo/_delete_form.html.twig') }}
{% endblock %}