{% extends 'base.html.twig' %}

{% block title %}Equipo index{% endblock %}

{% block body %}
   

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.id }}</td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.categoria }}</td>
                <td>
                    <a href="{{ path('equipo_show', {'id': equipo.id}) }}" class="btn btn-primary">Mostrar</a>
                    <a href="{{ path('equipo_edit', {'id': equipo.id}) }}" class="btn btn-warning">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Registros no encontrados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipo_new') }}" class="btn btn-success">Crear nuevo</a>
    <br><br>
    <a href="{{ path('entrenador_new') }}" class="btn btn-outline-success">Crear Entrenador</a>
    
{% endblock %}