{% extends 'base.html.twig' %}

{% block title %}New Equipo{% endblock %}

{% block body %}
    <h1>Create new Equipo</h1>

    {{ include('equipo/_form.html.twig') }}

    <a href="{{ path('equipo_index') }}">back to list</a>
{% endblock %}