{% extends 'base.html.twig' %}

{% block title %}Datos del Equipo{% endblock %}

{% block body %}
   

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ equipo.nombre }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ equipo.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipo_index') }}" class="btn btn-success">Atrás</a>

    <a href="{{ path('equipo_edit', {'id': equipo.id}) }}" class="btn btn-warning">Editar</a>

    {{ include('equipo/_delete_form.html.twig') }}
{% endblock %}