<form method="post" action="{{ path('entrenador_delete', {'id': entrenador.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entrenador.id) }}">
    <button class="btn">Delete</button>
</form>