{% extends 'base.html.twig' %}

{% block title %}Edit Entrenador{% endblock %}

{% block body %}
   

    {{ include('entrenador/_form.html.twig', {'button_label': 'Update'}) }}
	<br>
    <a href="{{ path('entrenador_index') }}" class="btn btn-success">Atrás</a>
	<br><br>
    {{ include('entrenador/_delete_form.html.twig') }}
{% endblock %}