{% extends 'base.html.twig' %}

{% block title %}Entrenador index{% endblock %}

{% block body %}
    
    

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entrenador in entrenadors %}
            <tr>
                <td>{{ entrenador.id }}</td>
                <td>{{ entrenador.nombre }}</td>
                <td>{{ entrenador.apellido }}</td>              
                <td>
                    <a href="{{ path('entrenador_show', {'id': entrenador.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('entrenador_edit', {'id': entrenador.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entrenador_new') }}" class="btn btn-primary">Crear nuevo</a>
    <br><br>
    <a href="{{ path('equipo_index') }}" class="btn btn-outline-success">Crear Equipo</a>
{% endblock %}