{% extends 'base.html.twig' %}

{% block title %}Crear un nuevo entrenador{% endblock %}

{% block body %}


    {{ include('entrenador/_form.html.twig') }}

    <a href="{{ path('entrenador_index') }}" class="btn btn-success">Atras</a>

 
{% endblock %}