{% extends 'base.html.twig' %}

{% block title %}Entrenador Actualizar{% endblock %}

{% block body %}
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrenador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entrenador.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ entrenador.apellido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entrenador_index') }}" class="btn btn-primary">Atras</a>

    <a href="{{ path('entrenador_edit', {'id': entrenador.id}) }}"class="btn btn-success">editar</a>
    <br>
    {{ include('entrenador/_delete_form.html.twig') }}
{% endblock %}