<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        {% block stylesheets %}{% endblock %}
        {% block head_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% endblock %}
	<style type="text/css">
		.myStylo
		{
			color: #fff;
			font-size: 40px;
		}
	</style>
    </head>
    <body>
    	<nav class="navbar navbar-dark bg-dark myStylo">
  		
    	{% block title %}
			
    	{% endblock %}
    	</nav>
    	<div class="container">
        {% block body %}
		

		
        {% endblock %}
        </div>	
        {% block javascripts %}{% endblock %}
    </body>
</html>
